/* DESKTOP FIRST */

/* Celulares */
@media (max-width: 600px) {
  .contenedor {
    width: 98%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contenedor__formulario {
    width: 85%;
    height: 290px;
  }

  .formulario__label {
    width: 200px;
    font-size: 1.2em;
  }

  .formulario__boton {
    font-size: 1em;
  }

  .contenedor__datos{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}



  table td {
    text-align: center;
    font-size: 1.3em;
    padding: 8px 0;
  }
}
